<!-- ======= Speakers Section ======= -->
<section id="speakers">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-4">Equipe</h2>
      <p>Conheça alguns membros do nosso time!</p>
    </div>

    <div class="row">
      <!-- Vinícius 1-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Vinicius.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content)" style="cursor: pointer"
                >Vinicius Lana</a
              >
            </h3>
            <p>
              <small>Diretor Geral</small>
            </p>
            <div class="social">
              <a href="">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Vinicius Lana</h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Diretor Geral</li>
              <li class="list-group-item">
                Endere&ccedil;o para acessar este CV:
                http://lattes.cnpq.br/3493722852340161
              </li>
              <li class="list-group-item">ID Lattes: 3493722852340161</li>
              <li class="list-group-item">
                &Uacute;ltima atualiza&ccedil;&atilde;o do curr&iacute;culo em
                11/10/2019
              </li>
            </ul>

            <p style="text-align: justify">
              Graduado em Fisioterapia pelo Centro Universitário de Lavras
              (1999). Mestre em Saúde da Família pela UNESA/RJ. Professor e
              Coordenador de Extensão do curso de medicina do Instituto
              Metropolitano de Ensino Superior/UNIVAÇO. Referência
              Descentralizada de Minas Gerais para o Programa Mais Médicos para
              o Brasil do Ministério da Saúde. Membro da Comissão de
              Acompanhamento e Monitoramento de Escolas Médicas/CAMEM.
            </p>
          </div>
          <div class="modal-footer"></div>
        </ng-template>
      </div>

      <!-- Marcelo Jose Vigorito Campara -->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Marcelo.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content13)" style="cursor: pointer"
                >Marcelo Jose Vigorito Campara</a
              >
            </h3>
            <p>
              <small>DIRETOR ADMINISTRATIVO E FINANCEIRO</small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/3672021710162668">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content13 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Marcelo Jose Vigorito Campara
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">
                DIRETOR ADMINISTRATIVO E FINANCEIRO
              </li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Doutorando em Tecnologia Nuclear (ênfase em processamento digital
              de imagens, modelagem mobile microfluídica e citometria
              optofluídica), Mestre em Sistemas de Informação e Gestão do
              Conhecimento. Possui graduação em Sistemas de Informação pela
              Universidade Presidente Antônio Carlos. Concluiu em 2009 MBA em
              Governança da Tecnologia da Informação. Atualmente é Diretor
              administrativo e financeiro da Faculdade de Medicina do Vale do
              Aço (Grupo AFYA Educacional). Atua na área de controladoria
              financeira, orçamento e gestão de pessoas. Atuou na implantação de
              sistemas ERP TOTVS das áreas: Financeira, Contábil, Compras /
              Almoxarifado, Educacional, Fiscal, Pessoal, Banco de dados e
              Desenvolvimento de relatórios. Atua também como professor
              universitário na rede de ensino DOCTUM nas áreas de Lógica e
              desenvolvimento e análise de sistemas. Atuou também no ensino EAD
              como tutor e professor autor de conteúdos. Tem experiência na área
              de Ciência da Computação, com ênfase em Sistemas de Informação.
            </p>
          </div>
        </ng-template>
      </div>

      <!-- Letícia 2-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Letícia.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content2)" style="cursor: pointer"
                >Letícia Guimarães</a
              >
            </h3>
            <p>
              <small>Coordenação de curso</small>
            </p>
            <div class="social">
              <a href="">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content2 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Letícia Guimarães
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Coordenação de curso</li>
            </ul>
          </div>
          <div class="modal-footer"></div>
        </ng-template>
      </div>

      <!-- Mariana 3-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Mariana Furtado.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content3)" style="cursor: pointer"
                >Mariana de Souza Furtado</a
              >
            </h3>
            <p>
              <small>Doutorado em Medicina - Biomedicina</small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/9404410449447246">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content3 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Mariana de Souza Furtado
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">
                Doutorado em Medicina - Biomedicina
              </li>
              <li class="list-group-item">
                Mestrado em Medicina - Biomedicina
              </li>
            </ul>
            <p style="text-align: justify">
              possui graduação em Medicina pela Universidade Federal de Minas
              Gerais (2002), residência médica em Clínica Médica pelo Hospital
              João XXIII - FHEMIG (2003 - 2005) e em Endocrinologia pela Santa
              Casa de Belo Horizonte (2005 - 2007), mestrado (2012) e doutorado
              (2015) em Medicina (Seguimento de Câncer de Tireoide) pelo
              Instituto de Ensino e Pesquisa da Santa Casa de Belo Horizonte.
              Atualmente é professora titular de Clínica Médica da UNIVAÇO,
              coordenadora do Centro de Habilidades e Simulação Realística e
              atua como médica Endocrinologista.
            </p>
          </div>
          <div class="modal-footer"></div>
        </ng-template>
      </div>

      <!-- Niura Sueli de Almeida Martins 4-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/niura.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content4)" style="cursor: pointer"
                >Niura Sueli de Almeida Martins</a
              >
            </h3>
            <p>
              <small>Coordenação de Gestão Pedagógica </small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/9236693787775269">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content4 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Niura Sueli de Almeida Martins
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Coordenação de Gestão Pedagógica</li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Mestre em Educação na área de Políticas e Práticas Curriculares,
              Cotidiano e Cultura; especialização em Metodologia do Ensino
              Superior, Avaliação a Distância e Psicopedagogia Clinica e
              Institucional. Tem experiência em gestão da Educação Básica,
              Educação Superior e docência das disciplinas de formação
              pedagógica e Metodologia Científica, orientação de Trabalho de
              Conclusão de Curso (TCC) em cursos de graduação e pós-graduação
              nas modalidades presencial e a distância. Atualmente é
              coordenadora de apoio psicopedagógico na Univaço, professora na
              Faculdade Ibra e cursando especialização em Neuropsicopedagogia.
            </p>
          </div>
        </ng-template>
      </div>

      <!-- Analina Furtado Valadão 5-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Analina.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content5)" style="cursor: pointer"
                >Analina Furtado Valadão</a
              >
            </h3>
            <p>
              <small>Professora de SOI I e SOI II </small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/9171803359553162">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content5 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Analina Furtado Valadão
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Professora de SOI I e SOI II</li>
              <li class="list-group-item">Coordenadora de Pesquisa</li>
              <li class="list-group-item">Coordenadora de TCC</li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Graduação em Farmácia pela Universidade Federal de Ouro Preto
              (1996), mestrado em Bioquímica e Imunologia pela Universidade
              Federal de Minas Gerais (1998) e Doutorado em Bioquímica e
              Imunologia pela Universidade Federal de Minas Gerais (2002).
              Professora titular do Instituto Metropolitano de Ensino Superior -
              Imes/Univaço. Professora horista da Fadipa - Sistema Alfa
              Universitário. Tem experiência na área de Bioquímica, com ênfase
              em Biologia Molecular. Coordena pesquisas em parasitoses
              intestinais, cicatrização, ensino e aprendizagem na educação
              médica. Coordena projetos de Extensão em Educação Sanitária e
              Ambiental. Coordenadora dos Trabalhos de Conclusão de Curso do
              Imes. Coordenadora de Iniciação Cientifica do Imes.
            </p>
          </div>
        </ng-template>
      </div>

      <!-- Orlando Barreto Zocratto 6-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Orlando.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content6)" style="cursor: pointer"
                >Orlando Barreto Zocratto</a
              >
            </h3>
            <p>
              <small>Professor de Anatomia </small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/6904591773227743">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content6 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Orlando Barreto Zocratto
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Professor de Anatomia</li>
              <li class="list-group-item">
                Professor Sistemas Orgânicos Integrados (SOI)
              </li>
              <li class="list-group-item">
                Professor de Técnica Cirúrgica E Cirurgia Ambulatorial
              </li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Graduado em Medicina pela Universidade Federal de Minas Gerais -
              UFMG (1995). Mestre em Medicina - Gastroenterologia pela UFMG
              (2004). Doutor Medicina - Gastroenterologia pela UFMG (2010).
              Professor Adjunto de Cirurgia da Escola de Medicina da
              Universidade Federal de Ouro Preto - UFOP. Titular da Sociedade
              Brasileira de Cirurgia de Cabeça e Pescoço. Professor de Cirurgia
              (Técnica Cirúrgica e Cirurgia Ambulatorial) e Anatomia da
              Faculdade de Medicina do Instituto Metropolitano de ensino
              Superior (IMES/ UNIVAÇO). Membro do Serviço de Cirurgia de Cabeça
              e Pescoço do Biocor Instituto.
            </p>
          </div>
        </ng-template>
      </div>

      <!-- Leonardo de Araújo Lopes 7-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Leo Araújo.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content7)" style="cursor: pointer"
                >Leonardo de Araújo Lopes</a
              >
            </h3>
            <p>
              <small>Tutor SOI I e SOI II </small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/8353904664217499">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content7 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Leonardo de Araújo Lopes
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Tutor SOI I e SOI II</li>
              <li class="list-group-item">Professor de pratica SOI III e IV</li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Graduação em Farmácia - Análises Clínicas pela Universidade
              Federal de Alagoas (2003). Mestrado em Imunobiologia de
              protozoários pela Universidade Federal de Ouro Preto - UFOP
              (2006). Tem experiência na área de Farmácia, com ênfase em
              Análises Clínicas, atuando principalmente nas seguintes áreas:
              Parasitologia, Bioquímica e Farmacologia. Leciona na Faculdade
              Única de Ipatinga e no Instituto Metropolitano de Ensino Superior
              - IMES
            </p>
          </div>
        </ng-template>
      </div>

      <!-- Fabiano Moreira da Silva 8-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Fabiano.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content8)" style="cursor: pointer"
                >Fabiano Moreira da Silva</a
              >
            </h3>
            <p>
              <small>Professor</small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/9377739081521853">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content8 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Fabiano Moreira da Silva
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Professor</li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Mestre em Saúde da Família - UNESA-RJ, Coordenador do Núcleo de
              Apoio Pedagógico (NAPED) e do Núcleo de Assessoramento em Educação
              Permanente em Saúde (NAEPS) - UNIVAÇO, Docente das disciplinas de
              Interação Ensino-Serviço-Comunidade (IESC I, II e III) e de
              Medicina de Família e Comunidade III - UNIVAÇO, Vereador em Lagoa
              Santa pelo PSB (2017-2020), Presidente da Comissão de Legislação,
              Justiça e Redação (2017), Presidente da Comissão de Saúde
              (2018-2019), Consultor em Saúde Pública / Saúde da Família, Autor
              do Livro "A Estratégia Saúde da Família na Ótica do Usuário"
              Editora Usina de Letras, Especialista em Gestão da Clínica na
              Atenção Primária a Saúde - SENAC / SES-MG e em Docência do Ensino
              Superior pela UCAM-RJ, Graduado em Fisioterapia pela Universidade
              Gama Filho-RJ. Possui experiência em administração e saúde pública
              com passagens como ex-secretário municipal de saúde de Lagoa
              Santa-MG, ex-secretário municipal de saúde de Timóteo-MG, ex-
              secretário municipal de saúde, chefe de gabinete e gerente da
              secretaria municipal de saúde de Ipatinga-MG, tendo participado da
              equipe de implantação da Estratégia Saúde da Família - ESF, no
              município no ano de 2002. Atuou ainda como tutor da FIOCRUZ /
              Ministério da Saúde durante o curso nacional de qualificação de
              gestores do SUS 2010/2011 e 2011/2012.
            </p>
          </div>
        </ng-template>
      </div>

      <!-- Jaqueline Melo Soares 9-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Jaqueline.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content9)" style="cursor: pointer"
                >Jaqueline Melo Soares</a
              >
            </h3>
            <p>
              <small>Supervisora do 1º período</small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/9056298359887805">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content9 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Jaqueline Melo Soares
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Supervisora do 1º período</li>
              <li class="list-group-item">Professora de SOI I e II</li>
              <li class="list-group-item">Tutora SOI</li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Possui graduação em Medicina Veterinária pela Universidade Federal
              de Uberlândia (2001), mestrado em Ciências Veterinárias pela
              Universidade Federal de Uberlândia (2004) e doutorado em Ciências
              pela Universidade Federal de Minas Gerais (2009). É professora em
              tempo integral do curso de medicina da União Educacional do Vale
              do Aço. Tem experiência acadêmica nas Ciências Morfológicas,
              atuando principalmente nos seguintes temas: reprodução, avaliação
              morfológica, biologia molecular, genética clínica, desenvolvimento
              embrionário e fetal. Desde 2015 dedica-se ao estudo e aplicação
              das Metodologias Ativas de ensino-aprendizagem na educação médica.
            </p>
          </div>
        </ng-template>
      </div>

      <!-- Melissa Araújo Ulhoa Quintão 10-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Melsisa.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content10)" style="cursor: pointer"
                >Melissa Araújo Ulhoa Quintão</a
              >
            </h3>
            <p>
              <small>Professora SOI I (Prática e TICs)</small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/4137183823879884">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content10 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Melissa Araújo Ulhoa Quintão
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Professora SOI I (Prática e TICs)</li>
              <li class="list-group-item">Tutora SOI II</li>
              <li class="list-group-item">Coordenação SOI4 e NIEMAI</li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Doutora em Ciências pela Universidade de São Paulo e doutorado
              Sanduíche na Universidade de Surrey, Inglaterra (2011). É mestre
              em Ciências Fisiológicas pela Universidade Federal do Espírito
              Santo (2004) e Graduada em Fisioterapia pela Universidade Federal
              de Juiz de Fora (2001). Tem experiência como docente, desde 2002 e
              em clínica no tratamento de pacientes. Participou de pesquisas
              envolvendo fisiologia humana, experimental e Saúde Pública.
              Atualmente é professora titular e membro do comitê de ética em uso
              animal na União Educacional do Vale do Aço e consultora na área da
              saúde do trabalhador. Atua como professora de fisiologia médica I
              e II, no curso de medicina do Centro Universitário de Caratinga e
              é editora executiva da Revista de Ciências do FUNEC. Atua como
              docente no UNILESTE.
            </p>
          </div>
        </ng-template>
      </div>

      <!-- Patrícia Gonçalves da Motta 11-->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Patrícia.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content11)" style="cursor: pointer"
                >Patrícia Gonçalves da Motta</a
              >
            </h3>
            <p>
              <small>Supervisora do 2 período</small>
            </p>
            <div class="social">
              <a href="">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content11 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Patrícia Gonçalves da Motta
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Supervisora do 2 período</li>
              <li class="list-group-item">Professora MEP I</li>
              <li class="list-group-item">Professora SOI I (tutora)</li>
              <li class="list-group-item">Professora SOI III ( laboratório)</li>
            </ul>
            <hr />
            <p style="text-align: justify"></p>
          </div>
        </ng-template>
      </div>

      <!-- Denise Cristiana da Silva -->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Denise.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content12)" style="cursor: pointer"
                >Denise Cristiana da Silva</a
              >
            </h3>
            <p>
              <small>Bibliotecária</small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/8444717824953707">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content12 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Denise Cristiana da Silva
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">Bibliotecária</li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Possui graduação em Biblioteconomia pelo Centro Universitário de
              Formiga (2011). Atualmente é bibliotecária do Instituto
              Metropolitano de Ensino Superior. Tem experiência na área de
              Educação.
            </p>
          </div>
        </ng-template>
      </div>

      <!-- Mauro César de Souza Ruback -->
      <div class="col-lg-4 col-md-6">
        <div class="speaker" data-aos="fade-up" data-aos-delay="100">
          <img
            src="assets/img/pessoas/Mauro.jpg"
            alt="Speaker 1"
            class="img-fluid"
          />
          <div class="details">
            <h3>
              <a (click)="open(content14)" style="cursor: pointer"
                >Mauro Ruback</a
              >
            </h3>
            <p>
              <small>Gerente de Comunicação e Marketing</small>
            </p>
            <div class="social">
              <a href="http://lattes.cnpq.br/8444717824953707">Lattes</a>
            </div>
          </div>
        </div>
        <ng-template #content14 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Mauro Ruback
            </h4>
            <a
              type="button"
              class="close"
              aria-label="Close"
              (click)="d('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <ul class="list-group mb-4">
              <li class="list-group-item">
                Gerente de Comunicação e Marketing
              </li>
            </ul>
            <hr />
            <p style="text-align: justify">
              Gerente de Comunicação e Marketing - Graduado em Publicidade e
              Propaganda - Pós-graduação em Marketing
            </p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<!-- End Speakers Section -->
