<app-header></app-header>
<app-intro></app-intro>

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="mt-4">Sobre o evento</h2>
          <p>
            Programa de Recepção e Integração de Ingressantes (PRINT) – Inclui
            recepção, acolhida e fornecimento de informações aos alunos que
            ingressam na Univaço. Constam neste programa a apresentação da
            Instituição e do município, a Aula Inaugural, Gincana Solidária e o
            Programa Trote Cidadão.
          </p>
        </div>
        <div class="col-lg-3">
          <h3 class="mt-4">Onde</h3>
          <p>Faculdade de Medicina do Vale do Aço - UNIVAÇO</p>
          <p>R. João Patrício Araújo, 179 - Veneza, Ipatinga - MG, 35164-251</p>
        </div>
        <div class="col-lg-3">
          <h3 class="mt-4">Quando</h3>
          <p>02-06 de Agosto</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <app-palestrante></app-palestrante>
  <app-schedule></app-schedule>
  <app-venue></app-venue>
  <app-contact></app-contact>
</main>
<!-- End #main -->
<app-footer></app-footer>
