<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href=""><img src="assets/img/logo/UNIVACO_ENDOSSO_AFYA-10.png" alt="Logo" title="logo" width=""></a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu ">
        <!--<li  [ngClass]="classHome" id="#li-home">
          <a  routerLink="" >Home</a>
        </li>
        <li  [ngClass]="classOuvinte" id="#li-insc-ouvinte">
          <a routerLink="/insc-ouvinte" >Inscrições de ouvintes</a>
        </li>
        <li [ngClass]="classTrabalho" id="#li-insc-trabalho">
          <a  routerLink="/insc-trabalho" >Inscrições de trabalhos</a>
        </li>-->
      </ul>
    </nav>
  </div>
</header><!-- End Header -->
