<!-- ======= Venue Section ======= -->
<section id="venue">
  <div class="container-fluid" data-aos="fade-up">
    <div class="section-header">
      <h2 class="mt-4">Local do evento</h2>
      <p>Informações e localização</p>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 venue-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.65520833594!2d-42.535731585092826!3d-19.47042698686283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb000390817bb9d%3A0x7f3a9aca5f467db4!2sFaculdade%20de%20Medicina%20do%20Vale%20do%20A%C3%A7o%20-%20UNIVA%C3%87O!5e0!3m2!1spt-BR!2sbr!4v1626123487434!5m2!1spt-BR!2sbr"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>

      <div class="col-lg-6 venue-info">
        <div class="row justify-content-center">
          <div class="col-11 col-lg-8">
            <h3>Univaço - União educacional do vale do aço</h3>
            <p>
              O curso de medicina da Univaço é nota 4 no MEC e é referência no
              ensino da medicina no leste de Minas Gerais. Com mais de 20 anos
              de história já formou mais de 1300 médicos, profissionais com
              competências técnicas e humanas para atuar, de forma ética e
              cidadã, na promoção e recuperação da saúde humana. Dispõe de uma
              equipe de professores altamente capacitados e metodologias
              modernas de ensino que proporcionam a vivência e o contato com os
              desafios da carreira médica – tornando você o protagonista da sua
              própria jornada ao longo da formação.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container-fluid venue-gallery-container"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <div class="container" data-aos="fade-up">
      <div class="section-header mt-4">
        <h2>Fotos</h2>
        <!--<p>Check our gallery from the recent events</p>-->
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/1.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/1.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/2.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/2.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/9.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/9.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/4.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/4.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/5.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/5.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/6.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/6.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/7.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/7.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/8.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/8.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/10.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/10.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/11.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/11.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/12.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/12.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/13.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/13.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/14.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/14.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/15.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/15.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/16.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/16.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a
            href="assets/img/venue-gallery/17.jpeg"
            class="venobox"
            data-gall="venue-gallery"
          >
            <img
              src="assets/img/venue-gallery/17.jpeg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Venue Section -->
