<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-info">
          <img
            src="assets/img/logo/UNIVACO_ENDOSSO_AFYA-10.png"
            alt="TheEvenet"
          />
          <p>
            Com mais de 24 anos de história, a Univaço forma profissionais com competências técnicas, humanas e para atuar, de forma ética e cidadã, na promoção e na recuperação da saúde humana.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contatos</h4>
          <p>
            R. João patrício araújo <br />
            179, Veneza, Ipatinga, MG<br />
            <strong>Telefone:</strong> (31) 2109-0900<br />
            <strong>E-mail:</strong> ascom@univaco.edu.br<br />
          </p>

          <div class="social-links">
            <a
              href="https://twitter.com/univaco"
              target="_blank"
              class="twitter"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              href="https://m.facebook.com/univaco/?locale2=pt_BR"
              target="_blank"
              class="facebook"
              ><i class="fa fa-facebook"></i
            ></a>
            <a
              href="https://www.instagram.com/univaco_imes/?hl=pt-br"
              target="_blank"
              class="instagram"
              ><i class="fa fa-instagram"></i
            ></a>
            <a
              href="https://br.linkedin.com/company/univaco"
              target="_blank"
              class="linkedin"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright
      <strong
        ><a href="https://univaco.edu.br" target="_blank">Univaço</a></strong
      >. Todos os direitos reservados
    </div>
    <div class="credits">
      Developed by:
      <a href="https://br.linkedin.com/in/janisson-carlos" target="_blank"
        >Janisson Carlos Melo de Oliveira</a
      >
    </div>
  </div>
</footer>
<!-- End  Footer -->
